{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    About
{% endblock %}

{% block body %}
<div class="rounded" id="about-div">
    <h1>What is emote.it?</h1>
    <br>
    <div class="row">
<div class="col-4">
    <p>The goal of emote.it is to allow users to log their day-to-day emotional state, as well as the types of activities they did.
        This day-to-day data can then be visualised and viewed by users to help them practice mindfulness and reflection on how they are, and have been, feeling.
        Users can determine patterns of positive and negative emotions on certain days, and corresponding to different types of activities to help with overall awareness and control over themselves.
    </p>
    <p>
        Our emotion logging system is inspired by the concept of the <a href="https://www.mindbodygreen.com/articles/emotion-wheel">"wheel of emotions" or "feelings wheel"</a>, which allows us to narrow down the emotions into easily understandable sections of the wheel when asking users how they feel.
    </p>
</div>
<div class="col">
    <img src="{% static 'wheel.webp' %}" id="wheel-img">
</div>
    </div>
    
    
{% endblock %}