{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    All Logs
{% endblock %}

{% block body %}
<div class="rounded" id="about-div">
    <h1>All Logs</h1>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
            {% if today %}
                {% for d in today %}
                    <div class="card border-secondary mb-3">
                    <div class="card-header header-dark">Entries for Today </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <nav class="navbar navbar-expand-sm bg navbar-dark list-unstyled">
                                    <li class="nav-item">
                                        <a href="entry/{{ d.url }}/"
                                           class="btn btn-outline-info p" role="button">
                                            View Entry
                                        </a>
                                    </li>
                                    <li class="nav-item" style="margin-left: 20px">
                                        <a href="edit-entry/{{ d.url }}/"
                                        class="btn btn-outline-warning p" role="button">
                                        Edit Entry
                                        </a>
                                    </li>
                                </nav>
                            </div>
                            <div class="col-sm">
                                <div class="dropdown text-center">
                                        <button class="btn btn-outline-dark justify-content-center align-items-center dropdown-toggle" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            View/Edit Activity Logs
                                        </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for activity in activities %}
                                       {% if activity.date == d.date %}
                                           <a class="dropdown-item" href="edit-activity-entry/{{ activity.url }}/">
                                               {{ activity.activity }} - {{ activity.time }} minutes</a>
                                       {% endif %}
                                    {% endfor %}
                                    <hr>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                {% else %}
                    <h2 style="text-align: center">You have not added a log for <strong>today</strong> yet</h2>
                {% endif %}
                    <div class="row">
                        <div class="col">
                            {% if entries %}
                                {% for entry in entries %}
                                <div class="card border-secondary mb-3">
                                <div class="card-header">Entries for {{ entry.date }}</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm">
                                            <nav class="navbar navbar-expand-sm bg navbar-dark list-unstyled">
                                                <li class="nav-item">
                                                    <a href="entry/{{ entry.url }}/"
                                                       class="btn btn-outline-info p" role="button">
                                                        View Entry
                                                    </a>
                                                </li>
                                            </nav>
                                        </div>
                                        <div class="col-sm">
                                            <div class="dropdown text-center">
                                                    <button class="btn btn-outline-dark justify-content-center align-items-center dropdown-toggle" type="button" id="dropdownMenuButton"
                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        View/Edit Activity Logs
                                                    </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                {% for activity in activities %}
                                                   {% if activity.date == entry.date %}
                                                       <a class="dropdown-item" href="edit-activity-entry/{{ activity.url }}/">
                                                           {{ activity.activity }} - {{ activity.time }} minutes</a>
                                                   {% endif %}
                                                {% endfor %}
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <h2 style="text-align: center">No entries to view yet!</h2>
                            {% endif %}
                        </div>
            </div>
    </div>
    
    
            <div class="col">
                <h1>Mood Metrics By Day</h1>
                <canvas id="mainGraph" style="width:100%;max-width:100%;max-height:500px;"></canvas>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    var a = {{moods | safe}};
    var dateList = [{% for d in dates %}"{{d}}",{%endfor%}];
    var happinessVals = [{% for i in happiness %}"{{i}}",{%endfor%}];
    var angerVals = [{% for i in anger %}"{{i}}",{%endfor%}];
    var disgustVals = [{% for i in disgust %}"{{i}}",{%endfor%}];
    var fearVals = [{% for i in fear %}"{{i}}",{%endfor%}];
    var powerVals = [{% for i in power %}"{{i}}",{%endfor%}];
    var peaceVals = [{% for i in peace %}"{{i}}",{%endfor%}];

    const data = {
    labels: dateList,
    datasets: [
        {
        label: 'Happiness',
        data: happinessVals,
        order: 1,
        backgroundColor: "#23abd8",
        },
        {
        label: 'Anger',
        data: angerVals,
        order: 1,
        backgroundColor: "#ff4040",
        },
        {
        label: 'Disgust',
        data: disgustVals,
        order: 1,
        backgroundColor: "#1ddfa3",
        },
        {
        label: 'Fear',
        data: fearVals,
        order: 1,
        backgroundColor: "#6e40aa",
        },
        {
        label: 'Power',
        data: powerVals,
        order: 1,
        backgroundColor: "#e2b72f",
        },
        {
        label: 'Peace',
        data: peaceVals,
        order: 1,
        backgroundColor: "#fe4b83",
        },
        {
        label: 'Mood',
        data: a,
        borderColor: 'black',
        borderWidth: 5,
        backgroundColor: 'rgba(0,0,0,0.1)',
        type: 'line',
        order: 0
        }
    ]
    };

    var mainGraph = new Chart("mainGraph",{
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Chart.js Combined Line/Bar Chart'
            },
            backgroundColor: 'white'
            }
        },
    })
</script>
{% endblock %}