<!DOCTYPE html>

{% load static %}

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Font: Atkinson Hyperlegible is specifically designed to be more clear for visually impaired users-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
 <link rel="stylesheet" href="{% static 'css/page.css' %}" type="text/css">
    <!-- Loading D3 -->
    <script src = "https://d3js.org/d3.v4.min.js"></script>

    <title>Self Diary - {% block title %} {% endblock %}</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        {% if user.is_authenticated %}
        <a href="{% url 'new_entry' %}">New Entry</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        {% endif %}

    </div>
    <div id="main-content">
	  <nav class="navbar navbar-expand-lg navbar" id="main-nav">
		<div class="float-left">
              <!-- Use any element to open the sidenav -->
        <span id="sidebar-btn" type="button" class="fa fa-bars fa-3x" onclick="toggleNav()"></span>
        <a href="{% url 'index' %}">
        <img src="{% static 'logo1.png' %}" alt="emoteit" id="logo">
		{% block nav_block_left %}
		{% endblock %}
        </a>
        </div>
		
        <div class="navbar-collapse justify-content-end">
		<ul class="navbar-nav navbar-right ml-auto">
            {% if user.is_authenticated %}
            <div id="user-hi">
			<h4><b>Hi, {{ user.username }}!</b></h4>
            </div>
            <a href="{% url 'logout' %}">
                <button type="button" class="btn btn-primary mr-1 btn-lg active" id="top-nav-btn" aria-pressed="true" aria-label="Right Align" >Logout
                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </button>
                </a>

            <a href="">
                <i id="user-icon" class="fas fa-user fa-3x"></i>
                </a>
			{% else %}
            <a href="{% url 'login' %}">
            <button type="button" id="top-nav-btn" class="btn btn-dark mr-1 btn-lg active"  aria-pressed="true" aria-label="Right Align" >Login
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </button>
            </a>
            <a href="{% url 'register' %}">
            <button  type="button" id="top-nav-btn" class="btn btn-dark mr-1 btn-lg active"  aria-label="Right Align">Register
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </button>
            </a>
            {% endif %}

            
        </div>
	  </nav>
    
    {% block nav_block_right %}
    {% endblock %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block body %}{% endblock %}

    <br>
    <hr>
    <br>

    <footer>
        <span>
            <ul>
                <nav class="navbar navbar-expand-sm list-unstyled justify-content-center rounded" id="about-div">
                    <li class="nav-item px-2 text-muted">
                        <a href="{% url 'index' %}"><strong>Homepage</strong></a>
                    </li>
                    <li class="nav-item px-2 text-muted">
                        <a href="{% url 'about' %}"><strong>About</strong></a>
                    </li>
                    <li class="nav-item px-2 text-muted">
                        <a href="{% url 'self_help' %}"><strong>Resources</strong></a>
                    </li>
                    <li class="nav-item px-2 text-muted">
                        <a href="{% url 'settings' %}"><strong>Settings</strong> </a>
                    </li>
                    <li class="nav-item px-2 text-muted">
                        <a href="{% url 'disclaimer' %}"><strong>Disclaimer</strong></a>
                    </li>
                </nav>
        
                </ul>
            </span>
        
    </footer>
    </div>
    <!-- Optional JavaScript -->
    <script>
        /* Set the width of the side navigation to 250px */
          function toggleNav() {
          var element = document.getElementById("mySidenav");
          if (element.style.width == "180px"){
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main-content").style.marginLeft = "0";
            document.getElementById("sidebar-btn").style.visibility = "visible"
            
          }  else{
            document.getElementById("mySidenav").style.width = "180px";
            document.getElementById("main-content").style.marginLeft = "180px";
            document.getElementById("sidebar-btn").style.visibility = "hidden";
          }
          }

          /* Set the width of the side navigation to 0 */
          function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main-content").style.marginLeft = "0";
          document.getElementById("sidebar-btn").style.visibility = "visible";
          }

    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>