{% extends 'main/base.html' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    {{ urls }}
    {% if user.is_authenticated %}
    <div class = "jumbotron text-center align-items-center pb-2">
        <h2>Hi {{ user.username }}</h2>
        <br>
        <h3>How are you feeling?</h3>
    </div>
    <div class="text-center">
        <a href="{% url 'daily_entry' %}">
        <button type="button" class="btn btn-dark btn-lg btn-block w-50" style="font-size: 24px">
            Log My Day
        </button>
        </a>
    </div>
<br><hr>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
        {% if today %}
            {% for d in today %}
                <div class="card border-secondary mb-3">
                <div class="card-header">Entries for Today </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <nav class="navbar navbar-expand-sm bg navbar-dark list-unstyled">
                                <li class="nav-item">
                                    <a href="entry/{{ d.url }}/"
                                       class="btn btn-outline-info p" role="button">
                                        View Entry
                                    </a>
                                </li>
                                <li class="nav-item" style="margin-left: 20px">
                                    <a href="edit-entry/{{ d.url }}/"
                                    class="btn btn-outline-warning p" role="button">
                                    Edit Entry
                                    </a>
                                </li>
                            </nav>
                        </div>
                        <div class="col-sm">
                            <div class="dropdown text-center">
                                    <button class="btn btn-outline-dark justify-content-center align-items-center dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        View/Edit Activity Logs
                                    </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for activity in activities %}
                                   {% if activity.date == d.date %}
                                       <a class="dropdown-item" href="edit-activity-entry/{{ activity.url }}/">
                                           {{ activity.activity }} - {{ activity.time }} minutes</a>
                                   {% endif %}
                                {% endfor %}
                                <hr>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
            {% else %}
                <h2 style="text-align: center">No entries to view yet!</h2>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            {% if entries %}
                {% for entry in entries %}
                <div class="card border-secondary mb-3">
                <div class="card-header">Entries for {{ entry.date }}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <nav class="navbar navbar-expand-sm bg navbar-dark list-unstyled">
                                <li class="nav-item">
                                    <a href="entry/{{ entry.url }}/"
                                       class="btn btn-outline-info p" role="button">
                                        View Entry
                                    </a>
                                </li>
                            </nav>
                        </div>
                        <div class="col-sm">
                            <div class="dropdown text-center">
                                    <button class="btn btn-outline-dark justify-content-center align-items-center dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        View/Edit Activity Logs
                                    </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for activity in activities %}
                                   {% if activity.date == entry.date %}
                                       <a class="dropdown-item" href="edit-activity-entry/{{ activity.url }}/">
                                           {{ activity.activity }} - {{ activity.time }} minutes</a>
                                   {% endif %}
                                {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}
            {% else %}
                <h2 style="text-align: center">No entries to view yet!</h2>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h1 class="justify-content-center">SPACE FOR DATA VISUALS</h1>
        </div>
    </div>
</div>

    {% else %}
        <div class="container-md">
         <div class="w-50 p3"><h1>Journal your emotions and mental health</h1></div>
        <br>

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16" style="margin-left:70px">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
                Keep track of your daily moods and emotions</li> <br>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16" style="margin-left:70px">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>
                View and explore your data

        <br><br>
        <h2><a href="{% url 'login' %}" style = "color: indianred">Sign In</a> or <a href="{% url 'register' %}" style = "color: mediumpurple">Register</a> to get started!</h2>
        </div>
    {% endif %}
{% endblock %}