{% extends 'main/base.html' %}

{% block title %}
    Resources
{% endblock %}

{% block body %}
    <a href="{% url 'new_article' %}">
        <button type="button" class="btn btn-dark mr-1  btn-lg active" aria-pressed="true">
        Submit a new Article!</button>
    </a>
    <br><br>
    <h3>Note: These articles are not a substitute for professional support. If you're experiencing a severe mental
    health crisis, please contact a professional.</h3>

    <br>
    <div class="container-fluid rounded">
        <div class="row row-cols-2">
            <div class="col container-fluid rounded" id="article-div">
                <h2>Mental Health Advice</h2>
                {% if mental_health_advice %}
                <ul>
                    {% for article in mental_health_advice %}
                        
                        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    No articles for Mental Health Advice! Why not submit your own?
                {% endif %}
            </div>

            <div class="col container-fluid rounded w-50" id="article-div">
                <h2>Meditation</h2>
                {% if meditation %}
                <ul>
                    {% for article in meditation %}
                        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    No articles for Meditation! Why not submit your own?
                {% endif %}
            </div>

            <div class="col container-fluid rounded" id="article-div">
                <h2>Mindfulness</h2>
                {% if mindfulness %}
                <ul>
                    {% for article in mindfulness %}
                        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    No articles for Mindfulness! Why not submit your own?
                {% endif %}
            </div>

            <div class="col container-fluid rounded" id="article-div">
                <h2>Sleep</h2>
                {% if sleep %}
                <ul>
                    {% for article in sleep %}
                        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    No articles for Sleep! Why not submit your own?
                {% endif %}
            </div>

            <div class="col container-fluid rounded" id="article-div">
                <h2>Stress</h2>
                {% if stress %}
                <ul>
                    {% for article in stress %}
                        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    No articles for Stress! Why not submit your own?
                {% endif %}
            </div>
        </div>


    </div>
    

{% endblock %}