{% extends 'main/base.html' %}

{% block title %}
    View Entry
{% endblock %}

{% block body %}

    {% if entry and entry.creator == user %}
    <div class = "container-fluid rounded" id="about-div">
        <div class = "container-fluid rounded" style="background-color:goldenrod" id="emotion-div">
        Happiness = {{ entry.happiness }}
        </div>
        <div class = "container-fluid rounded" style="background-color:red" id="emotion-div">
        Anger = {{ entry.anger }}
        </div>
        <div class = "container-fluid rounded" style="background-color:rgb(147, 71, 157)" id="emotion-div">
        Disgust = {{ entry.disgust }}
        </div>
        <div class = "container-fluid rounded" style="background-color:rgb(88, 174, 152)" id="emotion-div">
        Fear = {{ entry.fear}}
        </div>
        <div class = "container-fluid rounded" style="background-color:rgb(255, 68, 0)" id="emotion-div">
        Power = {{ entry.power }}
        </div>
        <div class = "container-fluid rounded" style="background-color:rgb(106, 255, 0)" id="emotion-div">
        Peace = {{ entry.peace }}
        </div>
    </div>
    {% else %}
        <h2>Entry cannot be accessed! Create one <a href="{% url 'new_entry' %}">here</a></h2>
    {% endif %}
{% endblock %}