{% extends 'main/base.html' %}

{% block title %}
    View Entry
{% endblock %}

{% block body %}

    {% if entry and entry.creator == user %}
    <div class = "container-fluid rounded" id="about-div">
        Emotion Entries
        <canvas id="barEmotions" style="width:100%;max-width:700px"></canvas>
    </div>
    {% else %}
        <h2>Entry cannot be accessed! Create one <a href="{% url 'new_entry' %}">here</a></h2>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var xValues = ["Happiness", "Anger", "Disgust", "Fear", "Power", "Peace"];
        var yValues = ['{{ entry.happiness }}', '{{ entry.anger }}', '{{entry.disgust}}', '{{entry.fear}}', '{{entry.power}}', '{{entry.peace}}'];
        var barColors = ["yellow", "red","blue","purple","orange", "green"];

        var barEmotions = new Chart("barEmotions", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Emotion Entries'
                    }
                }
            }
        });
    </script>
{% endblock %}